<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fang.b16traveldomain">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".seatsavailable.SeatsAvailableActivity">

        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ticketConfirmation.TicketDetailActivity"></activity>
        <activity android:name=".paymentgateway.PaymentActivity"></activity>
        tools:replace="android:appComponentFactory"
        android:appComponentFactory=""
        android:usesCleartextTraffic="true">
        <activity android:name=".ticketConfirmation.TicketDetailActivity" />
        <activity android:name=".Registration.RegistrationActivity"></activity>
        <activity android:name=".HomePage.HomePageActivity">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".paymentgateway.PaymentActivity">
        </activity>
        <activity android:name=".bussearch.BusSearchActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".HomePage.HomePageActivitywithNavigation"
            android:label="@string/title_activity_home_page_activitywith_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>

       
    </application>

</manifest>